<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectText</key>
	<string>114,114,114</string>
	<key>background</key>
	<string>240,240,240</string>
	<key>text</key>
	<string>54,54,54</string>
</dict>
</plist>
