<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>titleID</key>
				<integer>10</integer>
				<key>summary</key>
				<string>56人均来自衡阳；设贿选另6人因工作调动已终止代表资格。</string>
				<key>title</key>
				<string>湖南56名涉贿选人大代表曝光</string>
				<key>titlePic</key>
				<string>http://pic4.nipic.com/20090825/3276934_090659079785_2.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>titleID</key>
				<integer>20</integer>
				<key>summary</key>
				<string>18年前超生女婴被2名妇女抱走；家属状告计生部门败诉。</string>
				<key>title</key>
				<string>河北警方悬赏1万征抱婴案线索</string>
				<key>titlePic</key>
				<string>http://pic4.nipic.com/20090825/3276934_090413064540_2.jpg</string>
			</dict>
		</array>
		<key>picture</key>
		<array>
			<dict>
				<key>pictureId</key>
				<integer>3</integer>
				<key>pictureUrl</key>
				<string>http://pic.nen.com.cn/500/11/89/24/11892448_748710.jpg</string>
				<key>title</key>
				<string>辽宁专项治理农民工工资拖欠问题</string>
				<key>titleID</key>
				<string></string>
			</dict>
			<dict>
				<key>pictureId</key>
				<integer>7</integer>
				<key>pictureUrl</key>
				<string>http://pic.nen.com.cn/500/11/89/25/11892531_828759.jpg</string>
				<key>url</key>
				<string>http://www.baidu.com</string>
				<key>title</key>
				<string>沈阳中小学师生登台诵读经典</string>
			</dict>
			<dict>
				<key>pictureId</key>
				<integer>7</integer>
				<key>pictureUrl</key>
				<string>http://pic.nen.com.cn/500/11/89/25/11892530_918672.jpg</string>
				<key>url</key>
				<string>http://www.baidu.com</string>
				<key>title</key>
				<string>沈阳于洪区：打造生态水系建设新名片</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
